{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organic aisle</title>
</head>
<body>
{% block content %}

    <!-----------------------------------Search bar Start--------------------->
    <!-----------------------------------Search bar End--------------------->


	<link href="{% static 'css/searchbar.css' %}" rel="stylsheet"/>
	<link href="{% static 'css/fontawesome.css' %}" rel="stylsheet"/>
	<link href="{% static 'css/fontawesome-all.css' %}" rel="stylsheet"/>



<script src="{% static 'js/fontawesome.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/fontawesome-all.js' %}"></script>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <!-------------------Slider--------------------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>




    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/gifvideo.css' %}">


{% endblock %}
</body>
</html>