{% load static %}
<html>
<head>
<title>Organic aisle</title>
    {% include 'cdnline.html' %}
</head>
<body>
 <div class="container-fluid">
   <!-------------------------Header Start----------------------------->
    {% include 'header.html' %}
   <!-------------------------header End------------------------------>

<center><h1>Password Changed</h1>
    <h2><a href="/">Go to Home page</a></h2>
</center>
 </div>
<!---------------------Footer Start--------------->
<div class="container-fluid" style="background-color: #353535;color:white;">
<div class="row">
    {% include 'footer.html' %}
</div>
</div>
    <!---------------------Footer  End--------------->
</body>
</html>