{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
      <title>Organic aisle</title>
      {% include 'cdnline.html' %}
      <link rel="stylesheet" href="{% static 'css/cart.css' %}">

<script>
    function Total_update() {
        console.log('my anme ');
            var price=document.getElementById("price").value;
            var quan = document.getElementById("quan").value;
            var update = quan * price;
            console.log(update);
            if( quan !== 0) {
            document.getElementById("total").value = update;
            document.getElementById("total_price").value = update;

        }
            document.getElementById("pro_quantity").value = quan;
    }
</script>

  </head>
<body>
<div class="container-fluid">
    <!-------------------------Header Start----------------------------->
    {% include 'header.html' %}
   <!-------------------------header End------------------------------>

    <!-----------------------------MENU START---------------->
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
   {% include 'menu.html' %}
        </div>
        </div>



<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-12 col-xs-12 ">
            <table class="table table-hover menu-tabu">
                <thead>
                    <tr>
                        <th>Description</th>
						<th>Unit Price</th>
						<th>Delivery Charge</th>
                        <th>Quantity</th>
						<th></th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="col-sm-4 col-md-4">

                                <h4 class="media-heading"><a href="#">{{ pro_name }}({{ pro_quantity }})</a></h4>

                          </td>
						<td class="col-sm-1 col-md-2"><input type="text" class="form-control" id="price" value="{{ price }}"disabled style="background: none;border: none;"></td>
						<td class="col-sm-1 col-md-2">40</td>

                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="text" class="form-control" id="quan" name="quan" value="1">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><button type="button" onclick="Total_update()"  class="btn btn-success btn-sm">Update</button></td>
                        <td class="col-sm-1 col-md-1 text-center"><input type="text" class="form-control" name="total_price" id="total" value="{{ price }}" style="background: none;border: none;"disabled></td>
                        <td class="col-sm-1 col-md-1">
                        <a class="rmovawa" href="">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a></td>
                    </tr>

			   </tbody>
            </table>
			<hr class="my-hr">
        </div>


    </div>

    <!----------------------------------------------shipping form Start----------------------------------------------------------------->
    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <form action="/shipping_address/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="pro_name" value="{{ pro_name }}">
        <input type="hidden" name="pro_weight" value="{{ pro_quantity }}">
        <input type="hidden" name="pro_quantity" id="pro_quantity" value="1">
        <input type="hidden" name="price"  value="{{ price }}">
        <input type="hidden" name="total_price" id="total_price" value="{{ price }}">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Full Name</label>
      <input type="fullname" class="form-control" id="fullname" name="full_name" placeholder="Full Name" required>
    </div>
   <div class="form-group col-md-6">
      <label>Mobile</label>
      <input type="number" class="form-control" id="mobile" name="mobile" placeholder="Mobile" required>
    </div>
  </div>

        <div class="form-row">
    <div class="form-group col-md-12">
      <label>Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
    </div>
  </div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label>Full Address</label>
    <input type="text" class="form-control" id="fulladdress" name="full_address" placeholder="1234 Main St">
  </div>
  <div class="form-group col-md-6">
    <label for="inputAddress2">Landmark</label>
    <input type="text" class="form-control" id="landmark" name="landmark" placeholder="Apartment, studio, or floor">
  </div>
</div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" name="city" id="inputCity">
    </div>
    <div class="form-group col-md-6">
      <label for="inputZip">Pincode</label>
      <input type="text" class="form-control" name="pincode" id="pincode">
    </div>
  </div>
<div class="form-row">
 <div class="form-group col-md-6">
 <div class="form-check">
  <input class="form-check-input" type="radio" name="payment" id="exampleRadios1" value="Cash On Delivery" checked>
  <label class="form-check-label text-success font-weight-bolder">
   <h4> Cash On Delivery</h4>
  </label>
</div>
</div>
    <div class="form-group col-md-6">
        <div class="form-check">
           <input class="form-check-input" type="radio" name="payment" id="exampleRadios2" value="Online Payment">
            <label class="form-check-label text-success font-weight-bolder">
            <h4> Online Payment</h4>
          </label>
        </div>
     </div>
</div>

 <button type="submit" class="btn btn-success btn-lg btn-block">Proceed</button>
</form>
    </div>
</div>

    <!-----------------------------------------------shipping form End---------------------------------------------------------------->
</div>
     <!---------------------Footer Start--------------->
<div class="container-fluid" style="background-color: #353535;color:white;">
<div class="row">
    {% include 'footer.html' %}
</div>
</div>
    <!---------------------Footer  End--------------->

</div>


</body>
</html>